<section>
  
    <h1>Ziedot LRMA</h1>
    
    <p>Jūsu ziedojums tiks izmantots, lai stiprinātu LRMA izvirzīto mērķu un uzdevumu izpildi (<a ui-sref="lrmastatuti">LRMA Statūti</a>).<br>
    Uz ziedojumiem attiecināmas arī nodokļu atlaides. Sazinieties ar mums: info@lrma.lv</p>
    
    <p>Biedrībai "<b>Latvijas Rokmūzikas Asociācija</b>" iespējams ziedot ar bankas pārskaitījumu vai Paypal:<br></p>
    
    <div class="row">
                <div class="col-sm-6 col-md-6">

    <h3>Ar bankas parskaitījumu:</h3>
    <p><b>Latvijas Rokmūzikas Asociācija</b><br>
Reģ. nr. 40008263608<br>
Swedbank: LV15HABA0551043448084<br>
Stopiņu 32a, Rīga, LV1035, Latvija<br>
    Maksājuma mērķis: Ziedojums LRMA</p>
        </div>
    
                <div class="col-sm-6 col-md-6">
        <h3>Ar PAYPAL:</h3>
    
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="TS6LMPJK42F76">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
        
        </div>
    </div>


</section>
