<section>
    
    <!--ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Galvenā</a></li>
  <li role="presentation"><a href="#">Intervijas</a></li>
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Recenzijas <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li role="presentation"><a href="#">Albumi</a></li>
        <li role="presentation"><a href="#">Grāmatas</a></li>
        <li role="presentation"><a href="#">Filmas</a></li>
        <li role="presentation"><a href="#">Koncerti</a></li>
        <li role="presentation"><a href="#">Lietas</a></li>
    </ul>
  </li>
  <li role="presentation"><a href="#">Strīmi</a></li>
  <li role="presentation"><a href="#">Raksti</a></li>
  <li role="presentation"><a href="#">Foto</a></li>
  <li role="presentation"><a href="#">Pierakstīties jaunumiem</a></li>
  <li role="presentation"><a href="#">Veikals</a></li>
  <li role="presentation"><a href="#">Kontakti</a></li>
        <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Meklēt">
        </div>
        <button type="submit" class="btn btn-default">Meklēt</button>
      </form>
</ul-->
    
    <div class="row">
  <div class="col-sm-3">
        
        <div class="btn-group" role="group" aria-label="...">
  <a target="_blank" href="https://www.twitter.com/rockassociation" class="btn btn-social-icon btn-twitter">
    <span class="fa fa-twitter-square fa-2x" style="color:#55acee;"></span>
  </a>
  <a target="_blank" href="https://www.facebook.com/latvijasrokmuzikasasociacija/" class="btn btn-social-icon btn-facebook">
    <span class="fa fa-facebook-square fa-2x" style="color:#3b5998;"></span>
  </a>
    <a target="_blank" href="https://www.draugiem.lv/lrma/" class="btn btn-social-icon btn-twitter">
    <span class="fa fa-users fa-2x" style="color:#FB6103;"></span>
  </a>
    <a target="_blank" href="https://www.instagram.com/latvian_rock_music_association/" class="btn btn-social-icon btn-instagram">
    <span class="fa fa-instagram fa-2x" style="color:#e95950;"></span>
  </a>
    <a target="_blank" href="https://www.youtube.com/channel/UCPiGoC-CUW_5ZE1x3ui5OSw" class="btn btn-social-icon btn-youtube">
    <span class="fa fa-youtube-square fa-2x" style="color:#bb0000;"></span>
  </a>
  
        </div>   
      
      
       <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">    <span class="fa fa-youtube-square"></span>
MĒS PAR ROKU</h3>
  </div>
  <div class="panel-body">
    <!-- 16:9 aspect ratio -->
<div class="embed-responsive embed-responsive-16by9">
  <div style="position:relative;height:0;padding-bottom:56.25%"><iframe width="560" height="315" ng-src="{{mprfullurl | trustAsResourceUrl}}" frameborder="0" allowfullscreen></iframe></div>
</div>
  </div>
</div>
      
      
      <h3>PASĀKUMI</h3>
      
 
      
       <div class="panel panel-default">
  <div class="panel-heading">27/09 - Filmas "Septiņdesmitie. Spožums un posts" pirmizrāde @ Latvijas 1. Rokkafejnīca</div>
  <div class="panel-body">
      <img class="img-responsive" src="/modules/core/client/img/content/21077577_1525226817515749_8565747529418432107_n.jpg" alt="Filmas 'Septiņdesmitie. Spožums un posts' pirmizrāde @ Latvijas 1. Rokkafejnīca">
    <p>27. septembrī plkst. 19:00 Latvijas 1. Rokkafejnīcā norisināsies filmas “Septiņdesmitie. Spožums un posts” 2. daļas pirmizrāde.</p>      
  </div>
</div>
  
      <div class="panel panel-default">
  <div class="panel-heading">6/10 - KLANG! Breakdown @ Latvijas 1. Rokkafejnīca</div>
  <div class="panel-body">
            <img class="img-responsive" src="/modules/core/client/img/content/20881923_655280058009897_8370216962921722066_n.jpg" alt="KLANG! Breakdown @ Latvijas 1. Rokkafejnīca">
<p>6. oktobrī Latvijas Pirmajā Rokkafejnīcā, ar grupu Rebel Riot, The Factor un Relicseed līdzdalību  norisināsies pasākums „KLANG Breakdown”.</p>
                </div>
</div>
      
       <div class="panel panel-default">
  <div class="panel-heading">08/11 - U.D.O Koncerts @ Palladium</div>
  <div class="panel-body">
      <img class="img-responsive" src="/modules/core/client/img/content/DIRKSCHNEIDER.jpg" alt="08/11 - U.D.O Koncerts @ Palladium">
    <p>8.novembrī "Palladium" koncertzālē būs unikālā iespēja baudīt visus lielākos "Accept" hitus tās leģendārā vokālista Udo Dirkšneidera izpildījumā. Kopā ar grupu "Dirkschneider" Udo pēdējo reizi izpildīs Metal Heart, Princess Of The Dawn un, protams, Balls To The Wall. </p>      
  </div>
</div>
      
       <div class="panel panel-default">
  <div class="panel-heading">26/11 - Kulakova Nakts @ Vidzemes koncertzāle Cēsis</div>
  <div class="panel-body">
      <img class="img-responsive" src="/modules/core/client/img/content/kulakovanakts.jpg" alt="08/11 - U.D.O Koncerts @ Palladium">
    <p>2015.gadā veiksmīgi aizsāktā tradīcija – festivāls “Kulakova nakts”, kas pirmo reizi izskanēja Ogres estrādē, pagājušo gadu Liepājā, šogad norisināsies vienā no prestižākajām Latvijas koncertzālēm - Vidzemes koncertzālē „Cēsis”/</p>      
  </div>
</div>
            
            <p>Sazinies ar mums:</p>
            <p>rock@lrma.lv</p>
            

        
        
        </div>
        
  <div class="col-sm-6">
      
       <!--div class="panel panel-default">
  <div class="panel-body">
    ad
  </div>
</div--> 
      
      <h3>JAUNUMI</h3>
      
      <!--a href="#"
socialshare
socialshare-provider="facebook"
socialshare-text="Atrasts Priekšnamā"
socialshare-hashtags="lrma, latvijasrokmūzikasasociācija, atrastspriekšnamā"
socialshare-url="https://www.lrma.lv/intervijas/atrastsprieksnama">
Dalīties FB
</a-->
      
      
      
       <div class="btn-group" role="group" aria-label="...">
  <a href="#"
         socialshare
         socialshare-provider="twitter"
         socialshare-url="https://www.lrma.lv/raksti/jaunumi"
         socialshare-text="LRMA - Jaunumi"
         socialshare-via="rockassociation"
         socialshare-hashtags="lrma, latvijasrokmūzikasasociācija, jaunumi"
         class="btn btn-social-icon btn-twitter">
          <span class="fa fa-twitter-square" style="color:#55acee;">Čivināt par šo..</span>
      </a>
           <a href="#"
         socialshare
         socialshare-provider="facebook"
         socialshare-display="iframe"
         socialshare-url="https://www.lrma.lv/raksti/jaunumi"
         socialshare-type="share"
         socialshare-via="112034179491052"
         socialshare-display="LRMA - Jaunumi"
         socialshare-quote="Latvijas Rokmūzikas Jaunumi"
         socialshare-hashtags="#latvijasrokmūzikasasociācija"
         class="btn btn-social-icon btn-facebook">
          <span class="fa fa-facebook-square" style="color:#3b5998;">Šērot FB..</span>
      </a>
  <!--a target="_blank" href="https://www.facebook.com/latvijasrokmuzikasasociacija/" class="btn btn-social-icon btn-twitter">
    <span class="fa fa-facebook-square" style="color:#3b5998;"></span>
  </a>
    <a target="_blank" href="https://www.draugiem.lv/lrma/" class="btn btn-social-icon btn-twitter">
    <span class="fa fa-users" style="color:#FB6103;"></span>
  </a>
    <a target="_blank" href="https://www.instagram.com/latvian_rock_music_association/" class="btn btn-social-icon btn-twitter">
    <span class="fa fa-instagram" style="color:#e95950;"></span>
  </a>
    <a target="_blank" href="https://www.youtube.com/channel/UCPiGoC-CUW_5ZE1x3ui5OSw" class="btn btn-social-icon btn-twitter">
    <span class="fa fa-youtube-square" style="color:#bb0000;"></span>
  </a-->
            </div>   
      
      <!--div class="row"> 
    <a ng-repeat="article in vm.articles" ui-sref="articles.view({ articleId: article._id })">
        <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{article.image64enc}}" alt="{{article.title}}">
        <small class="list-group-item-text">
        Posted on
        <span ng-bind="article.created | date:'mediumDate'"></span>
        by
        <span ng-if="article.user" ng-bind="article.user.displayName"></span>
        <span ng-if="!article.user">Deleted User</span>
      </small>
      <div class="caption">
        <h3 ng-bind="article.title"></h3>
        <p ng-bind-html="article.content"></p>
      </div>
    </div>
        </div>           
    </a>
   </div-->
      
     
         <div class="row">
  <!--div class="col-sm-6 col-md-6"-->
    <div class="thumbnail">
      <img src="/modules/core/client/img/content/BOptimist.jpg" alt="B Optimist">
      <div class="caption">
          <p>Avots: Preses relīze | Foto: Publicitātes Foto | 25.09.2017 3:57</p>
        <h3>ROKGRUPA ”B OPTIMIST” PUBLICĒ JAUNU DZIESMU AR VIDEOKLIPU NO OKTOBRĪ GAIDĀMĀ EP</h3>
        
          <p>25. septembrī rokgrupa B OPTIMIST publicē jaunu dziesmu ar video no oktobrī gaidāmā EP. Dziesma „Lodes” ir stāsts par gaidīšanu un ilgošanos. Šoreiz 3D animācijā veidotā klipa stāstu izdejo divi tēli, kuri piedzīvo gan satikšanās prieku, gan samierināšanos, otru zaudējot.</p>
          
           <div class="embed-responsive embed-responsive-16by9">
               <div style="position:relative;height:0;padding-bottom:56.25%"><iframe width="560" height="315" src="https://www.youtube.com/embed/0ofuwHO6OvU" frameborder="0" allowfullscreen></iframe></div></div>
          
          <p>Dziesma ierakstīta Valmierā, „Hodila records” studijā. Ierakstīja, miksēja un producēja Arnis Račinskis. Māsterēja Andis Ansons. Mūzikas un teksta autori: „B OPTIMIST”. Video: Smendiz.</p>

          <p>Rokgrupa „B OPTIMIST” izveidota 2013. gada janvārī Ogres novadā, Suntažos. „B OPTIMIST” spēlē enerģisku un emocionālu rokmūziku, liekot uzsvaru uz melodijām un dziesmu tekstiem latviešu valodā. Grupā spēlē brāļi Valters (balss, ģitāra) un Roberts (bungas), kā arī skolas biedri Linards (ģitāra) un Roberts (bass).</p>
          
          
          <p>Vairāk par grupu:<br>
<a href="http://b-optimist.weebly.com/" target="_blank">"B Optimist" mājaslapa</a>
<a href="https://www.facebook.com/boptimist" target="_blank">"B Optimist" facebook lapa</a> 
</p>
          
         <!--p>TAGI: B Optimist, Lodes, Hodila records, Valters Levins, Andis Ansons</p-->
          
        <!--p> <a href="#" class="btn btn-default" role="button">Tālāk...</a></p-->
      </div>
    </div>
    </div>
        
      
        <div class="row">
  <!--div class="col-sm-6 col-md-6"-->
    <div class="thumbnail">
      <img src="/modules/core/client/img/content/nirvanaexperience.jpg" alt="Nirvana Experience">
      <div class="caption">
          <p>Avots: Preses relīze</p>
        <h3>2018. gadā Rīgā uzstāsies kulta grupas "NIRVANA" "tribute" grupa "The Nirvana Experience"</h3>
        
          <p>2018. gads rokmūzikas pasaulē noteikti iezīmēsies kulta grupas NIRVANA zīmē, jo pagājuši 30 gadi kopš grupas pirmā koncerta 1988. gada 19. martā. Lai to atzīmētu, Latvijā Palladium koncertzālē nākamā gada 16. martā uzstāsies par pasaulē labāk atzīto grupas “Nirvana” tribjūts “THE NIRVANA EXPERIENCE” kopā ar oriģinālās grupas bundzinieku Čadu Čenningu (Chad Channing).</p>
          
           <div class="embed-responsive embed-responsive-16by9">
               <div style="position:relative;height:0;padding-bottom:56.25%"><iframe width="560" height="315" src="https://www.youtube.com/embed/VtJb7aks7zI" frameborder="0" allowfullscreen></iframe></div></div>
          
          <p>Grupa “Nirvana” ir viens no 20. gadsimta kulta kolektīviem, kura trīs mūziķi, ierakstot trīs albumus granža stilā, izmainīja pasauli vienreiz un pavisam. Ja jums nebija iepējas dzirdēt un vērot NIRVANA uz skatuves, tad šī ir unikāla iespēja to pagūt izdarīt.</p>

          <p>Leģendārais Čads Čennings savu mūziķa karjeru “Nirvana” sastāvā uzsāka 1988. gadā, kad uzstājās kā bundzinieks gan pirmā kulta albuma “Bleach” ierakstā, gan grupas vēstures pirmajā nacionālajā tūrē. Čads ir pazīstams gan kā astoņu “Nirvana” dziesmu autors, ieskaitot megahītu “With The Light Out”, gan kā “Silver” līdzautors. Čadu var dzirdēt Deiva Grolla vietā vienā no zīmīgākajiem grupas albumiem “Nevermind” tādos darbos, kā “In Bloom”, “Breed”, “Lithium”, “Stay Away” un vēlāk arī vairākās relīzēs un kompilācijās, ieskaitot 1993. gadu. Bundzinieks ilgu laiku nespēlēja populārās grupas darbus, jo visu savu laiku veltīja savam jaunajam kolektīvam “Before Cars”, un tomēr, nespēdams atteikt grupas “Nirvana” 30 gadu jubilejas turnejas organizatoriem, piekrita atskaņot gan savus darbus, gan jau klasiskos granža karaļu gabalus.</p>
          
          <div class="embed-responsive embed-responsive-16by9">
              <div style="position:relative;height:0;padding-bottom:56.25%"><iframe width="560" height="315" src="https://www.youtube.com/embed/CjGzY-bOyuo" frameborder="0" allowfullscreen></iframe></div></div>
          
          <p>Šim notikumam perfekti der granža dzimtenes ASV izvēlētā nacionālā šova “Labākā tribjūta” nominācijas ieguvēja grupa THE NIRVANA EXPERIENCE. TV kanāls AXS un šova auditorija izvēlējās šo grupu kā 2014. gada labāko THE WORLD GREATEST NIRVANA TRIBUTE. Šis Teksasas kolektīvs ir sasniedzis rekordu leģēndārajā Whiskey and GO-GO biļešu izpārdošanas ātrumā, pulcējot lielāko fanu skaitu nekā jebkurš mākslinieks pēdējo trīs gadu laikā. Grupa atveido “Nirvanas” šovu satriecoši identiski un patiesi gan šova, gan askaņošanas ziņā, kur Čada klātbūtne apsola neredzamu Kurta, Kirsta un Čada kopīgu klātesamību.</p>
          
          <p>Biļetes uz pasākumu var iegādāties visās “Biļešu Serviss” kasēs un internetā <a href="http://www.bilesuserviss.lv" target="_blank">bilesuserviss.lv</a></p>

          <p>Pirmās trīs dienas (no 12.09-15.09) visiem grupas “Nirvana” faniem 20 procentu atlaide ieejas biļetēm!</p>

          <p>Biļetes cena parterī 23,99 EUR (pēc 15.09. - 29,99 EUR)<br>
            Biļetes cena balkonā 35,99 EUR (pēc 15.09. - 44,99 EUR). <br>
            Sīkāka informācija par pasākumu pieejama: <a href="https://www.facebook.com/9.Vilnis/" target="_blank">https://www.facebook.com/9.Vilnis/</a>
              </p>
          
        <!--p> <a href="#" class="btn btn-default" role="button">Tālāk...</a></p-->
      </div>
    </div>
    </div>
    
    
  <!--/div-->
           
<!--div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Virsraksts</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac ullamcorper sem, nec finibus nibh. Praesent mollis erat sit amet leo vestibulum aliquam. Nunc sed blandit lorem, id egestas turpis.

</p>
        <p> <a href="#" class="btn btn-default" role="button">Tālāk...</a></p>
      </div>
    </div>
  </div-->
     



      
      
      
      
        </div>
  <div class="col-sm-3">
        
      <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Kļūsti par LRMA biedru!</h3>
  </div>
  <div class="panel-body">
    <a target="_blank" href="https://society.rention.com/lv/auth/register/vu0pCH7jT6">REĢISTRĒTIES</a>
  </div>
</div>
      
      
      
       <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">    <span class="fa fa-youtube-square"></span>
DIENAS DZIESMA</h3>
  </div>
  <div class="panel-body">
    <!-- 16:9 aspect ratio -->
<div class="embed-responsive embed-responsive-16by9">
  <div style="position:relative;height:0;padding-bottom:56.25%"><iframe width="560" height="315" ng-src="{{fullurl | trustAsResourceUrl}}" frameborder="0" allowfullscreen></iframe></div>
</div>
  </div>
</div>
      
     <!--div class="panel panel-default">
  <div class="panel-body">
    ad
  </div>
</div> 
     
      <div class="panel panel-default">
  <div class="panel-body">
    ad
  </div>
</div>
      
      <div class="panel panel-default">
  <div class="panel-body">
    ad
  </div>
</div-->
      
      
      <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">MŪSU DRAUGI</h3>
  </div>
  <div class="panel-body">
    
      <div class="col-xs-6 col-md-6">
    <a target="_blank" href="http://moonshineriga.lv/" class="thumbnail">
      <img src="/modules/core/client/img/buddies/moon-shine-logo.png" alt="Moon Shine Riga">
    </a>
  </div>
      
      <div class="col-xs-6 col-md-6">
    <a target="_blank" href="https://www.facebook.com/thp.production/" class="thumbnail">
      <img src="/modules/core/client/img/buddies/new-thp-logo.png" alt="THP Production">
    </a>
  </div>
      
      <div class="col-xs-6 col-md-6">
    <a target="_blank" href="http://www.radioswh.lv/" class="thumbnail">
      <img src="/modules/core/client/img/buddies/swh_logo_gaiss_fons.png" alt="Radio SWH">
    </a>
  </div>
      
      <div class="col-xs-6 col-md-6">
    <a target="_blank" href="http://attrademusic.lv/" class="thumbnail">
      <img src="/modules/core/client/img/buddies/at_logo.png" alt="A&T Trade">
    </a>
  </div>
      
      <div class="col-xs-6 col-md-6">
    <a target="_blank" href="http://janisbukums.com/" class="thumbnail">
      <img src="/modules/core/client/img/buddies/jb.png" alt="JĀNIS BUKUMS">
    </a>
  </div>
      
       <div class="col-xs-6 col-md-6">
    <a target="_blank" href="https://www.facebook.com/Alus-Krogs-Bralis-614420451920088/" class="thumbnail">
      <img src="/modules/core/client/img/buddies/BralisKrogs.png" alt="Alus Krogs Brālis">
    </a>
  </div>
      
  </div>
</div> 
      
      
      
      
        </div>
</div>
    
    

</section>
