<section>
  
    <h1>Statūti</h1>
    
   
    Biedrības <br>
    <b>“Latvijas Rokmūzikas Asociācija”</b><br>

                                      <h3>Statūti</h3>     <br>                                                                                          
2017. GADA 19. MARTS, RĪGA<br>
1.	Biedrības nosaukums, darbības laiks un teritorija.<br>
1.1.	 Biedrības pilns nosaukums latviski ir „Latvijas Rokmūzikas Asociācija”, tulkojumā uz angļu valodu – „Latvian Rock Music Association”(turpmāk – Biedrība).<br>
1.2.	 Biedrība ir dibināta uz nenoteiktu laiku. <br>
1.3.	 Biedrība savu darbību veic gan Latvijas Republikas teritorijā, gan ārvalstīs.<br>
2.	Biedrības mērķis un uzdevumi.<br>
2.1.	 Biedrības mērķis ir veikt sabiedriskā labuma darbību – radīt, uzturēt un popularizēt ilgtspējīgu un starptautiski atzītu kultūras vidi Latvijā, popularizējot Latvijas rokmūziku, kā neatņemamu Latvijas kultūras sastāvdaļu, veicinot Latvijas rokmūzikas autoru, izpildītāju un grupu (turpmāk – rokmūziķu) integrēšanās iespējas vietējā un starptautiskajā mūzikas un izklaides biznesa tirgū, kā arī izveidot konkurētspējīgu nozari, kuras pamatuzdevums ir radīt eksporta preci ar augstu pievienoto vērtību (rokmūziku).<br>
2.2.	 Biedrības uzdevumi ir:<br>
2.2.1.	radīt tādu kultūras vidi, kas orientējas uz Latvijas rokmūziķu izaugsmi un ilgtspējīgu attīstību Latvijā un ārpus tās;<br>
2.2.2.	veicināt Latvijas rokmūziķu atpazīstamību, konkurētspēju un profesionalitāti;<br>
2.2.3.	vairot sabiedrības apziņu par Latvijas rokmūziķiem, kā starptautiskās mūzikas industrijas konkurētspējīgiem dalībniekiem;<br>
2.2.4.	veicināt izpratni par latviešu rokmūziķu darbības un attīstības iespējām ārpus Latvijas;<br>
2.2.5.	veicināt ārvalstu mūziķu sadarbību ar Latvijas rokmūziķiem;<br>
2.2.6.	veikt informatīvo un izglītojošo darbu sabiedrības izpratnes radīšanai un veicināšanai, pozicionējot latviešu rokmūziku, kā neatņemamu Latvijas kultūras sastāvdaļu;<br>
2.2.7.	veicināt sabiedrības interesi par rokmūziku, radot sabiedrībā vēlmi iesaistīties Latvijas rokmūzikas norisēs;<br>
2.2.8.	palīdzēt Latvijas rokmūziķiem radīt, noformēt, izdot, popularizēt un aizsargāt savu intelektuālo īpašumu;<br>
2.2.9.	pārstāvēt Latvijas rokmūziķu intereses Latvijas valsts un pašvaldību iestādēs, biznesa struktūrās, kā arī starptautiskos semināros un konferencēs,<br>
2.2.10.	Sniegt informatīvo, sociālo, juridisko un cita veida palīdzību Latvijas rokmūziķiem.<br>
2.3.	 Biedrība, sava mērķa un uzdevumu īstenošanai<br>
2.3.1.	organizē, atbalsta un veido konkurētspējīgu nozari ar eksporta potenciālu, kura nodarbojās ar rokmūzikas radīšanu, izpildīšanu, atbalstīšanu un popularizēšanu;<br>
2.3.2.	organizē rokmūzikas koncertus un citus publiskus pasākumus;<br>
2.3.3.	nodrošina atbalsta centra, specializētā medija, kā arī citu informatīvo un izglītojošo resursu izveidi un darbību;<br>
2.3.4.	informē sabiedrību par biedrības esamību, tās mērķi un uzdevumiem;<br>
2.3.5.	aicina apvienoties kopīgam darbam visus, kuriem rūp Latvijas rokmūzikas attīstība, kā arī Latvijas rokmūziķu nākotne, pilnveidošanās un panākumi Latvijā un ārpus tās;<br>
2.3.6.	organizē informatīvas sapulces, diskusijas, veido aptaujas, seminārus un konferences, kā arī piedalās projektos un akcijās;<br>
2.3.7.	veicina sabiedrības līdzdalību Latvijas kultūras videi, rokmūzikai un sabiedrībai būtisku lēmumu pieņemšanā;<br>
2.3.8.	izsludina un organizē projektu konkursus ar mērķi piedāvāt iespēju iegūt līdzfinansējumu rokmūziķu un rokgrupu profesionālo mērķu, kā arī citu mākslinieciski augstvērtīgu projektu profesionālai realizācijai un sasniegšanai;<br>
2.3.9.	piesaista finansējumu no sponsoriem, valsts un pašvaldību iestādēm, Eiropas Savienības fondiem un citiem finansējuma avotiem;<br>
2.3.10.	veicina sabiedrības integrāciju, visās tās izpausmēs, izstrādā un realizē sabiedrības integrāciju veicinošus projektus;<br>
2.3.11.	izstrādā un realizē izglītības un mūžizglītības projektus;<br>
2.3.12.	izstrādā un realizē kultūras projektus, nostiprinot un popularizējot rokmūziku, kā Latvijas kultūras neatņemamu sastāvdaļu;<br>
2.3.13.	izstrādā un realizē kultūras apmaiņas projektus sadarbībā ar ārvalstu kompetentajām iestādēm, sabiedriskajām organizācijām u.c.<br>
3.	Biedri<br>
3.1.	 Iestāšanās biedrībā:<br>
3.1.1.	Biedrībā var iestāties rīcībspējīga fiziska un juridiska persona vai tiesībspējīga personālsabiedrība, iesniedzot biedrības valdei rakstveida pieteikumu, kam pievienots īss profesionālās darbības apraksts.<br>
3.1.2.	Lēmumu par biedra uzņemšanu Biedrībā pieņem Biedrības valde.<br>
3.1.3.	Valdei pieteicēja pieteikums ir jāizskata tuvākās sēdes laikā, taču ne ilgāk kā trīsdesmit dienu laikā no visu nepieciešamo dokumentu saņemšanas brīža. Nepieciešamības gadījumā, valdes sēdē var lūgt piedalīties pieteikuma iesniedzēju. Pieteikuma iesniedzēja neierašanās uz valdes sēdi nav šķērslis pieteikuma izskatīšanai un lēmuma pieņemšanai.<br>
3.1.4.	Valdei lēmums rakstiski jāpaziņo pieteicējam septiņu dienu laikā no tā pieņemšanas brīža.<br>
3.1.5.	Ja valde pieņem lēmumu par atteikumu uzņemt biedru, pieteicējs atkārtotu pieteikumu var iesniegt ne ātrāk, kā pēc vienu gadu no pēdējā atteikuma brīža.<br>
3.2.	 Biedra izstāšanās:<br>
3.2.1.	Biedrs var jebkurā laikā izstāties no Biedrības, rakstiski paziņojot par to valdei.<br>
3.3.	 Biedra izslēgšana.<br>
3.3.1.	biedru var izslēgt no Biedrības ar valdes lēmumu, ja:<br>
3.3.1.1.	 biedrs vairāk kā 90 dienas nav maksājis biedra naudu;<br>
3.3.1.2.	 biedrs neievēro vai pārkāpj biedru sapulces vai Biedrības valdes lēmumus;<br>
3.3.1.3.	 biedrs nepilda savus pienākumus un uzņemtās saistības;<br>
3.3.1.4.	 biedrs veic darbību, kas apdraud biedrības tēlu un nevainojamu reputāciju;<br>
3.3.1.5.	 biedra darbība ir pretrunā ar Biedrības izvirzīto mērķi un uzdevumiem, vai kaitē Biedrības izvirzītā mērķa sasniegšanai.<br>
3.3.2.	Jautājumu par Biedrības biedra izslēgšanu valde izskata tuvākās sēdes laikā, nepieciešamības gadījumā, uzaicinot izslēdzamo biedru un dodot viņam vārdu sava viedokļa paušanai. Izslēdzamā biedra neierašanās nav šķērslis valdes lēmuma pieņemšanai.<br>
3.3.3.	Valdei lēmums par biedra izslēgšanu no biedrības un šā lēmuma motivācija rakstiski jāpaziņo izslēdzamajam biedram piecu dienu laikā no tā pieņemšanas brīža.<br>
4.	Biedru tiesības un pienākumi<br>
4.1.	 Biedrības biedriem ir šādas tiesības:<br>
4.1.1.	piedalīties Biedrības pārvaldē;<br>
4.1.2.	piedalīties jautājumu izspriešanā;<br>
4.1.3.	iepazīties ar Biedrības institūciju lēmumiem un rīkojumiem;<br>
4.1.4.	sniegt ierosinājumus, atsauksmes, priekšlikumus;<br>
4.1.5.	piedalīties Biedrības rīkotajos pasākumos.<br>
4.2.	 Biedrības biedriem ir šādi pienākumi:<br>
4.2.1.	Ievērot Biedrības statūtus; <br>
4.2.2.	pildīt biedru sapulces un valdes lēmumus;<br>
4.2.3.	regulāri maksāt biedra naudu;<br>
4.2.4.	ar savu aktīvu līdzdarbību atbalstīt Biedrības mērķa un uzdevumu realizēšanu;<br>
4.2.5.	paziņot par savu iestāšanos politiskā partijā, ja tāda notikusi.<br>
4.3.	 Nosakot biedram saistības, kas atšķiras no citu biedru saistībām, ir nepieciešama biedra piekrišana. Saistības biedram var noteikt ar biedru sapulces vai valdes lēmumu.<br>
5.	Biedrības izpildinstitūcija<br>
5.1.	 Biedrības izpildinstitūcija ir valde, kas sastāv no 3 (trim) valdes locekļiem, kurus ievēl biedru sapulce ar balsu vairākumu uz trīs gadu laika posmu.<br>
5.2.	 Valdes locekļi no sava vidus ievēl valdes priekšsēdētāju, kurš organizē valdes darbu.<br>
5.3.	 Valde ir tiesīga izlemt visus jautājumus, kas nav ekskluzīvā biedru sapulces kompetencē. <br>
5.4.	 Valdes locekļi ir tiesīgi pārstāvēt Biedrību katrs atsevišķi.<br>
5.5.	 Valdes locekļi pilda savus pienākumus bez atlīdzības.<br>
6.	Biedru sapulces sasaukšana un lēmumu pieņemšana <br>
6.1.	 Biedru sapulce ir augstākā Biedrības lēmējinstitūcija.<br>
6.2.	 Biedru sapulcē ir tiesīgi piedalīties visi Biedrības biedri. Biedri var piedalīties biedru sapulcē tikai personīgi.<br>
6.3.	 Kārtējā biedru sapulce tiek sasaukta ne retāk kā vienu reizi gadā.<br>
6.4.	 Ārkārtas biedru sapulce var tikt sasaukta pēc valdes iniciatīvas, vai ja to rakstiski pieprasa ne mazāk kā viena desmitā daļa Biedrības biedru, norādot sapulces sasaukšanas iemeslu.<br>
6.5.	 Biedru sapulce tiek sasaukta, ne vēlāk kā divas nedēļas pirms sapulces nosūtot katram biedram rakstisku uzaicinājumu.<br>
6.6.	 Biedru sapulce ir lemttiesīga, ja tajā piedalās vairāk nekā puse no biedriem.<br>
6.7.	 Ja biedru sapulce nav lemttiesīga kvoruma trūkuma dēļ, trīs nedēļu laikā tiek sasaukta atkārtota biedru sapulce, kas ir tiesīga pieņemt lēmumus neatkarīgi no klātesošo biedru skaita, ar nosacījumu, ka tajā piedalās vismaz divi biedri.<br>
6.8.	 Biedru sapulces lēmums ir pieņemts, ja par to nobalso vairāk nekā puse no klātesošajiem biedriem. Lēmums par statūtu grozījumiem, Biedrības darbības izbeigšanu un turpināšanu ir pieņemts, ja par to nobalso vairāk nekā divas trešdaļas no klātesošajiem biedriem.<br>
7.	Revidents<br>
7.1.	 Biedrības finansiālās un saimnieciskās darbības kontroli veic revidents, kuru ievēl biedru sapulce uz vienu gadu.<br>
7.2.	 Biedrības revidents nevar būt Biedrības valdes loceklis.<br>
7.3.	 Revidents:<br>
7.3.1.	veic Biedrības mantas un finanšu līdzekļu revīziju;<br>
7.3.2.	dod atzinumu par Biedrības budžetu un gada pārskatu;<br>
7.3.3.	izvērtē Biedrības grāmatvedības un lietvedības darbu;<br>
7.3.4.	sniedz ieteikumus par Biedrības finanšu un saimnieciskās darbības uzlabošanu.<br>
7.4.	 Revidents veic revīziju biedru sapulces noteiktajos termiņos, taču ne retāk kā reizi gadā.<br>
7.5.	 Biedru sapulce apstiprina Biedrības gada pārskatu tikai pēc revidenta atzinuma saņemšanas.<br>
8.	Biedru nauda<br>
8.1.	 Biedrības biedru naudas apmēru nosaka valde ar savu lēmumu.<br>
8.2.	 Biedrības biedriem ir pienākums maksāt biedru naudu 1 reizi mēnesī.<br>
8.3.	 Valdei lēmums par biedru naudas apmēra noteikšanu jāpaziņo biedriem septiņu dienu laikā no lēmuma pieņemšanas brīža.
9.	Biedrības īpašums un līdzekļi.<br>
9.1.	 Biedrības īpašumā var būt kustama un nekustama manta, pamatkapitāla daļas uzņēmumos, komercsabiedrībās, naudas līdzekļi un jebkura cita manta vai mantiskās tiesības, kuras nepieciešamas statūtos noteikto mērķu īstenošanai. <br>
9.2.	 Biedrības līdzekļus veido biedru naudu iemaksas, atskaitījumi no fizisko un juridisko personu ziedojumiem un mērķa ziedojumiem, kā arī citiem Latvijas Republikas normatīvajos aktos pieļaujamiem ienākumiem. <br>
9.3.	 Biedrības līdzekļi tiek izlietoti Biedrības mērķu īstenošanai un darbībai, darbinieku algošanai, savu iekšējo speciālo fondu izveidošanai, kuri izlietojami Statūtos paredzēto mērķu īstenošanai, kā arī citu izdevumu segšanai, kas saistīti ar Biedrības darbības nodrošināšanu.<br>
9.4.	 Interesentiem ir iespējams pretendēt uz Biedrības līdzfinansējumu šo Statūtu 2.3.7. punktā minēto pasākumu realizācijai, iesniedzot projektu biedrības izsludinātā konkursā, kurš atbilst konkursa nolikumam. Konkursa nolikumu izstrādā valde un apstiprina biedru kopsapulce.<br>

</section>
