<section>
    <h1>Par Mums</h1>

    
    Biedrība „Latvijas Rokmūzikas Asociācija” (LRMA) ir dibināta 19.03.2017.<br><br>

    LRMA mērķis ir veikt sabiedriskā labuma darbību – radīt, uzturēt un popularizēt ilgtspējīgu un starptautiski atzītu kultūras vidi Latvijā, popularizējot Latvijas rokmūziku, kā neatņemamu Latvijas kultūras sastāvdaļu, veicinot Latvijas rokmūzikas autoru, izpildītāju un grupu integrēšanās iespējas vietējā un starptautiskajā mūzikas un izklaides biznesa tirgū, kā arī izveidot konkurētspējīgu nozari, kuras pamatuzdevums ir radīt eksporta preci ar augstu pievienoto vērtību (rokmūziku). <br><br>
    
    
    <b>LRMA uzdevumi:</b><br>
    
    <ul>
	<li>radīt tādu kultūras vidi, kas orientējas uz Latvijas rokmūziķu izaugsmi un ilgtspējīgu attīstību Latvijā un ārpus tās;</li>
    <li>veicināt Latvijas rokmūziķu atpazīstamību, konkurētspēju un profesionalitāti;</li>
	<li>vairot sabiedrības apziņu par Latvijas rokmūziķiem, kā starptautiskās mūzikas industrijas konkurētspējīgiem dalībniekiem;</li>
	<li>veicināt izpratni par latviešu rokmūziķu darbības un attīstības iespējām ārpus Latvijas;</li>
	<li>veicināt ārvalstu mūziķu sadarbību ar Latvijas rokmūziķiem;</li>
	<li>veikt informatīvo un izglītojošo darbu sabiedrības izpratnes radīšanai un veicināšanai, pozicionējot latviešu rokmūziku, kā neatņemamu Latvijas kultūras sastāvdaļu;</li>
	<li>veicināt sabiedrības interesi par rokmūziku, radot sabiedrībā vēlmi iesaistīties Latvijas rokmūzikas norisēs;</li>
	<li>palīdzēt Latvijas rokmūziķiem radīt, noformēt, izdot, popularizēt un aizsargāt savu intelektuālo īpašumu;</li>
	<li>pārstāvēt Latvijas rokmūziķu intereses Latvijas valsts un pašvaldību iestādēs, biznesa struktūrās, kā arī starptautiskos semināros un konferencēs;</li>
    <li>sniegt informatīvo, sociālo, juridisko un cita veida palīdzību Latvijas rokmūziķiem.</li>
    </ul>

    

</section>
