<section>
    
    <aside id="sticky-social">
    
    <ul class="stickerino">
        <li><a href="https://www.facebook.com/latvijasrokmuzikasasociacija/" class="entypo-facebook stickerino" target="_blank"><span>Facebook</span></a></li>
        <li><a href="https://www.twitter.com/rockassociation" class="entypo-twitter stickerino" target="_blank"><span>Twitter</span></a></li>
        <!--li><a href="#" class="entypo-gplus stickerino" target="_blank"><span>Google+</span></a></li-->
        <li><a href="https://www.linkedin.com/company/lrma/" class="entypo-linkedin stickerino" target="_blank"><span>LinkedIn</span></a></li>
        <li><a href="https://www.instagram.com/latvian_rock_music_association/" class="entypo-instagrem stickerino" target="_blank"><span>Instagram</span></a></li>
        <!--li><a href="https://www.youtube.com/channel/UCPiGoC-CUW_5ZE1x3ui5OSw" class="entypo-youtube stickerino" target="_blank"><span>Youtube</span></a></li>
        <li><a href="https://www.draugiem.lv/lrma/" class="entypo-draugiem stickerino" target="_blank"><span>Draugiem</span></a></li-->
        <!--li><a href="#" class="entypo-stumbleupon stickerino" target="_blank"><span>StumbleUpon</span></a></li>
        <li><a href="#" class="entypo-pinterest stickerino" target="_blank"><span>Pinterest</span></a></li>
        <li><a href="#" class="entypo-flickr stickerino" target="_blank"><span>Flickr</span></a></li>
        <li><a href="#" class="entypo-tumblr stickerino" target="_blank"><span>Tumblr</span></a></li-->
    </ul>
</aside>
    
    <!--div class="row">
        
        <a ng-repeat="chrono in vm.chronos | limitTo:chronoquantity | orderBy:'timestamp'" ui-sref="chronos.view({ chronoId: chrono._id })">
        <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
            <h2 ng-bind="headline.title"></h2>
    <p>Autors: <b ng-bind-html="headline.author"></b></p>
            <p ng-bind="headline.created | date:'d.MM.yyyy H:mm'"></p>
        
      <img src="{{headline.imgurl}}" alt="{{headline.title}}">
    
            <p><span ng-bind="headline.photocaption"></span> | Foto: <span ng-bind="headline.photo"></span></p>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.pinterview.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.pinterview.user" ng-bind="vm.pinterview.user.displayName"></span>
      <span ng-if="!vm.pinterview.user">Deleted User</span>
    </em>
  </small>
  <div class="caption">
        <p ng-bind-html="headline.description"></p>
      </div>
        </div>
            
    </div>     
    </a>
        
    </div--->
    
    
    <div class="row">
        <!--div style="text-align: center;">
            <div style="inline-block;"-->
                <a href="https://lrma.lv/lrma/kontakti#joinlrma" target="_blank"><img style="margin:0 auto;" class="img-responsive" src="https://lrma.lv/modules/core/client/img/brand/baneris4-04.png"></a>
        <!--iframe src="https://servedbyadbutler.com/adserve/;ID=170669;size=970x90;setID=279674;type=iframe;click=CLICK_MACRO_PLACEHOLDER" width="970" height="90" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no">
</iframe-->
            <!--/div>
        </div-->    
        <br>
    </div>
    
    

       
        <div class="row" style="background: rgba(0, 0, 0, 0.5);">
         <br>
        <div class="col-sm-4">
            
            <!--div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">    <span class="fa fa-youtube-square"></span-->
<p style="color:white; font-family:'opensans'; font-size: 27px; text-align: left;">Mēs par roku</p>
  <!--/div-->
  <!--div class="panel-body"-->
    <!-- 16:9 aspect ratio -->
<div class="embed-responsive embed-responsive-16by9">
  <div style="position:relative;height:0;padding-bottom:56.25%"><iframe width="560" height="315" ng-src="{{mprfullurl | trustAsResourceUrl}}" frameborder="0" allowfullscreen></iframe></div>
</div>
  <!--/div-->
<!--/div-->
            
        </div>
        
        
        <div class="col-sm-4">
            <p style="color:white; font-family:'opensans'; font-size: 27px; text-align: center;">LRMA Rock</p>

        <div class="embed-responsive embed-responsive-16by9">
          <!--div style="position:relative;height:0;padding-bottom:56.25%"-->
              <iframe src="https://open.spotify.com/embed/user/11160936572/playlist/28jxvq19kSTjpSltuRMDyN" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
          <!--/div-->
      </div>
        </div>
        
        
        <div class="col-sm-4">
            
            <!--div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">    <span class="fa fa-youtube-square"></span-->
<p style="color:white; font-family:'opensans'; font-size: 27px; text-align: right;">Dienas dziesma</p>
  <!--/div-->
  <!--div class="panel-body"-->
    <!-- 16:9 aspect ratio -->
<div class="embed-responsive embed-responsive-16by9">
  <div style="position:relative;height:0;padding-bottom:56.25%"><iframe width="560" height="315" ng-src="{{fullurl | trustAsResourceUrl}}" frameborder="0" allowfullscreen></iframe></div>
</div>
  <!--/div-->
<!--/div-->     
            
        </div>
            <br>
        </div>
        

    
    
    
    
    <div class="row" style="background-image: linear-gradient(90deg, #000000 50%, #ffffff 50%); background-repeat:no-repeat; background-size:contain; background-position:left top;">
         
              <h3 style="text-align: center;"><a style="color:white; background-color: black; font-family:'opensans'; font-size: 27px;" ui-sref="headlines.list">JAUNUMI</a></h3>
        <br>

        <div class="col-sm-2">
        
             <div style="border-style: solid; border-width: 1px; border-color: white;">   
                  <a target="_blank" href="http://attrademusic.lv/">
      <img class="img-responsive" src="https://lrma.lv/modules/core/client/img/buddies/at_logo.png" alt="A&T Trade">
                 </a>
            </div>
        <br>
            
           <div style="border-style: solid; border-width: 1px; border-color: white; background-color: white;">   
               <a target="_blank" href="http://prof-designs.lv/en/">
      <img class="img-responsive" src="https://lrma.lv/modules/core/client/img/buddies/prof-mini-logo.png" alt="Prof.Designs">
               </a>
           </div>
        <br>
            
           <div style="border-style: solid; border-width: 1px; border-color: white; background-color: white;">   
               <a target="_blank" href="http://www.radioswh.lv/">
      <img class="img-responsive" src="https://lrma.lv/modules/core/client/img/buddies/swh_logo_gaiss_fons.png" alt="Radio SWH">
               </a> 
            </div>
        <br>
           
           <div>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- LRMA-left side banner 1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2545409748504732"
     data-ad-slot="4741815122"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            </div>
            
        </div>   
        
  <div class="col-sm-8">
      
      
      <a ui-sref="headlines.create" ng-show="vm.authentication.user">Pievienot Jaunumu</a>
   
     <div class="row">
  <!--div class="col-sm-6 col-md-6"-->
    <a ng-repeat="headline in vm.headlines | limitTo:1:0 | orderBy:'timestamp'" ui-sref="headlines.view({ headlineId: headline._id })">
        <div class="col-sm-12 col-md-12">
            
            <div class="row">
                
                <div class="col-sm-5 col-md-5">
                    <div class="thumbnail">
                        <div style="position:relative; overflow:hidden; padding-bottom:100%;">
                 <img style="position: absolute; width:100%; height:100%; object-fit: cover;" src="{{headline.imgurl.length > 0 ? headline.imgurl : headline.base64img}}" alt="{{headline.title}}">
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-7 col-md-7">
                <h3 style="font-family: 'opensans'; background-color: black; color: white;">{{headline.title}}</h3>
                    <br>
                    <div style="background-color: white; border-color: black; border-style: solid; z-index: 998;">
                     <p style="font-family: 'opensans'; background-color: white; color: black; border-color: black;"><b>{{headline.description}}</b></p>
                        </div>
                </div>
                
        </div>     
         </div>   
         </a>
         
         <br>
         
         <a ng-repeat="headline in vm.headlines | limitTo:1:1 | orderBy:'timestamp'" ui-sref="headlines.view({ headlineId: headline._id })">
        <div class="col-sm-12 col-md-12">
            
            <div class="row">
                
                <div class="col-sm-7 col-md-7">
                <h3 style="font-family: 'opensans'; background-color: black; color: white;">{{headline.title}}</h3>
                    <br>
                    <div style="background-color: white; border-color: black; border-style: solid; z-index: 998;">
                     <p style="font-family: 'opensans'; background-color: white; color: black; border-color: black;"><b>{{headline.description}}</b></p>
                        </div>
                </div>
                
                <div class="col-sm-5 col-md-5">
                    <div class="thumbnail">
                        <div style="position:relative; overflow:hidden; padding-bottom:100%;">
                 <img style="position: absolute; width:100%; height:100%; object-fit: cover;" src="{{headline.imgurl.length > 0 ? headline.imgurl : headline.base64img}}" alt="{{headline.title}}">
                        </div>
                    </div>
                </div>
                
        </div>     
         </div>   
         </a>
         
      </div>  
      </div>  
        
        <div class="col-sm-2">
        <!--h3><a ui-sref="events.list">PASĀKUMI</a></h3-->
  
    <a ng-repeat="event in vm.events | orderBy:'timestamp'" ui-sref="events.view({ eventId: event._id })">
        <!--div class="col-sm-4 col-md-4"-->
    <!--div class="panel panel-default"-->
            <div style="border-style: solid; border-width: 2px; border-color: black; background-image: url('{{event.imgurl}}'); background-size:cover; background-repeat:no-repeat;">   
        <!--div class="panel-heading"-->
                <div>
            <h3 style="font-size: 13px; font-family:'opensans'; text-align: center; color: white; background-color: rgba(0, 0, 0, 0.5);" ng-bind="event.title"></h3>
                </div>
        <!--div class="panel-body"-->
        <div>
                  <!--img class="img-responsive" src="{{event.imgurl}}" alt="{{event.title}}"-->
            <small class="list-group-item-text">
        <p style="font-size: 12px; font-family:'opensans'; text-align: center; color: white; background-color: rgba(0, 0, 0, 0.5);" ng-bind="event.timestamp | date:'d.M.yyyy H:mm' "></p>
        <p style="font-size: 12px; font-family:'opensans'; text-align: center; color: white; background-color: rgba(0, 0, 0, 0.5);" ng-bind="event.location"></p><br>        
      </small>
                    <!--p ng-bind-html="event.description"></p-->        
          </div>
            </div>
        <br>
    </a>
    </div>
        
        
    </div>  
      
    
    <div class="row">
        
          <div class="col-sm-9">
      
      <h3><a ui-sref="atrastsprieksnama.list">ATRASTS PRIEKŠNAMĀ</a></h3>

        <div class="row">
  <!--div class="col-sm-6 col-md-6"-->
    <a ng-repeat="pinterview in vm.pinterviews | limitTo:quantity | orderBy:'timestamp'" ui-sref="atrastsprieksnama.view({ pinterviewId: pinterview._id })">
        <div class="col-sm-6 col-md-6">
    <div class="thumbnail" style="min-height:650px;height:650px;">
        <h2 style="min-height:100px;height:100px;">{{pinterview.title | limitTo: 67}}{{pinterview.title.length > 67 ? '...': '' }}</h2>
    <p style="min-height:30px;height:30px;">Autors: <b>{{pinterview.author | limitTo: 67}}{{pinterview.author.length > 67 ? '...':''}}</b></p>
            <p ng-bind="pinterview.created | date:'d.MM.yyyy H:mm'"></p>
        
      <img src="{{pinterview.imgurl}}" alt="{{pinterview.title}}" style="max-height:300px;height:300px;">
    
            <p><span ng-bind="pinterview.photocaption"></span> | Foto: <span ng-bind="pinterview.photo"></span></p>
  <!--small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.pinterview.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.pinterview.user" ng-bind="vm.pinterview.user.displayName"></span>
      <span ng-if="!vm.pinterview.user">Deleted User</span>
    </em>
  </small-->
  <div class="caption">
        <p><b>{{pinterview.description | limitTo: 137}}{{pinterview.description.length > 137 ? '...': '' }}</b></p>
      </div>
        </div>
            
    </div>     
    </a>
    </div>
      
      
      
       <h3><a ui-sref="harticles.list">LATVIJAS ROKMŪZIKAS VĒSTURE</a></h3>
      
        <div class="row">
    <a ng-repeat="harticle in vm.harticles | limitTo:quantity | orderBy:'timestamp'" ui-sref="harticles.view({ harticleId: harticle._id })">
        <div class="col-sm-6 col-md-6">
    <div class="thumbnail" style="min-height:650px;height:650px;">
            <h2 style="min-height:100px;height:100px;">{{harticle.title | limitTo: 67}}{{harticle.title.length > 67 ? '...': '' }}</h2>
    <p style="min-height:30px;height:30px;">Autors: <b>{{harticle.author | limitTo: 67}}{{harticle.author.length > 67 ? '...':''}}</b></p>
            <p ng-bind="harticle.created | date:'d.MM.yyyy H:mm'"></p>
        
      <img src="{{harticle.imgurl}}" alt="{{harticle.title}}" style="max-height:300px;height:300px;">
    
            <p><span ng-bind="harticle.photocaption"></span> | Foto: <span ng-bind="harticle.photo"></span></p>
  <!--small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.interview.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.interview.user" ng-bind="vm.interview.user.displayName"></span>
      <span ng-if="!vm.interview.user">Deleted User</span>
    </em>
  </small-->
  <div class="caption">
        <p><b>{{harticle.description | limitTo: 137}}{{harticle.description.length > 137 ? '...': '' }}</b></p>
      </div>
        </div>
     
   
    </div>
    </a>
    </div>
      
      
      
      <h3><a ui-sref="reviews.list">RECENZIJAS</a></h3>
      
        <div class="row">
    <a ng-repeat="review in vm.reviews | limitTo:quantity | orderBy:'timestamp'" ui-sref="reviews.view({ reviewId: review._id })">
        <div class="col-sm-6 col-md-6">
    <div class="thumbnail" style="min-height:650px;height:650px;">
            <h2 style="min-height:100px;height:100px;">{{review.title | limitTo: 67}}{{review.title.length > 67 ? '...': '' }}</h2>
    <p style="min-height:30px;height:30px;">Autors: <b>{{review.author | limitTo: 67}}{{review.author.length > 67 ? '...':''}}</b></p>
            <p ng-bind="review.created | date:'d.MM.yyyy H:mm'"></p>
        
      <img src="{{review.imgurl}}" alt="{{review.title}}" style="max-height:300px;height:300px;">
    
            <p><span ng-bind="review.photocaption"></span> | Foto: <span ng-bind="review.photo"></span></p>
  
  <div class="caption">
        <p><b>{{review.description | limitTo: 137}}{{review.description.length > 137 ? '...': '' }}</b></p>
      </div>
        </div>
     
   
    </div>
    </a>
    </div>
      
   
      
      <h3><a ui-sref="intervijas.list">INTERVIJAS</a></h3>
      
        <div class="row">
  <!--div class="col-sm-6 col-md-6"-->
    <a ng-repeat="interview in vm.interviews | limitTo:quantity | orderBy:'timestamp'" ui-sref="intervijas.view({ interviewId: interview._id })">
        <div class="col-sm-6 col-md-6">
    <div class="thumbnail" style="min-height:650px;height:650px;">
            <h2 style="min-height:100px;height:100px;">{{interview.title | limitTo: 67}}{{interview.title.length > 67 ? '...': '' }}</h2>
    <p style="min-height:30px;height:30px;">Autors: <b>{{interview.author | limitTo: 67}}{{interview.author.length > 67 ? '...':''}}</b></p>
            <p ng-bind="interview.created | date:'d.MM.yyyy H:mm'"></p>
        
      <img src="{{interview.imgurl}}" alt="{{interview.title}}" style="max-height:300px;height:300px;">
    
            <p><span ng-bind="interview.photocaption"></span> | Foto: <span ng-bind="interview.photo"></span></p>
  <!--small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.interview.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.interview.user" ng-bind="vm.interview.user.displayName"></span>
      <span ng-if="!vm.interview.user">Deleted User</span>
    </em>
  </small-->
  <div class="caption">
        <p><b>{{interview.description | limitTo: 137}}{{interview.description.length > 137 ? '...': '' }}</b></p>
      </div>
        </div>
     
   
    </div>
    </a>
    </div>
      
     
      
      
       <h3><a ui-sref="rockarticles.list">ROKA STĀSTI</a></h3>
      
        <div class="row">
  <!--div class="col-sm-6 col-md-6"-->
    <a ng-repeat="rockarticle in vm.rockarticles | limitTo:quantity | orderBy:'timestamp'" ui-sref="rockarticles.view({ rockarticleId: rockarticle._id })">
        <div class="col-sm-6 col-md-6">
    <div class="thumbnail" style="min-height:650px;height:650px;">
            <h2 style="min-height:100px;height:100px;">{{rockarticle.title | limitTo: 67}}{{rockarticle.title.length > 67 ? '...': '' }}</h2>
    <p style="min-height:30px;height:30px;">Autors: <b>{{rockarticle.author | limitTo: 67}}{{rockarticle.author.length > 67 ? '...':''}}</b></p>
            <p ng-bind="rockarticle.created | date:'d.MM.yyyy H:mm'"></p>
        
      <img src="{{rockarticle.imgurl}}" alt="{{rockarticle.title}}" style="max-height:300px;height:300px;">
    
            <p><span ng-bind="rockarticle.photocaption"></span> | Foto: <span ng-bind="rockarticle.photo"></span></p>
  <!--small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.interview.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.interview.user" ng-bind="vm.interview.user.displayName"></span>
      <span ng-if="!vm.interview.user">Deleted User</span>
    </em>
  </small-->
  <div class="caption">
        <p><b>{{rockarticle.description | limitTo: 137}}{{rockarticle.description.length > 137 ? '...': '' }}</b></p>
      </div>
        </div>
     
   
    </div>
    </a>
    </div>
      
      

      
         <!--div class="row">
  
    <div class="thumbnail">
      <img src="/modules/core/client/img/content/Cement.jpg" alt="Mākslai vajag telpu Vasaras mājā uzstāsies grupa Cements">
      <div class="caption">
        <h3>"Mākslai vajag telpu" Vasaras mājā uzstāsies grupa "Cements"</h3>
        <p>10. septembrī  "Mākslai vajag telpu" Vasaras mājas programmas noslēgumā uzstāsies leģendārā grupa "Cements" ("Цемент").</p>
          
          <p>Grupa „Cements» dibināta 1984. gadā Rīgas rokmūzikas pagrīdē, vienā laikā ar padomju rokgrupām „Kino” un „Zoopark”. Grupas pastāvēšanas laikā kopā ar tās nemainīgo līderi Andreju Jahimoviču ir spēlējuši ap 50 zināmu Latvijas mūziķu.</p>
          
          <div class="embed-responsive embed-responsive-16by9">
  <div style="position:relative;height:0;padding-bottom:56.25%"><iframe width="560" height="315" src="https://www.youtube.com/embed/4E077qmbadU" frameborder="0" allowfullscreen></iframe></div>
</div>
          
<p>Šobrīd grupā darbojas:<br>
Andrejs Smirnovs – solo ģitāra<br>
Andrejs Jahimovičs - vokāls, ģitāra, mutes ermonikas<br>
Raitis Kalniņš – bungas<br>
Nikolajs Tihonovs – bass ģitāra<br>
</p>

           <div class="embed-responsive embed-responsive-16by9">
  <div style="position:relative;height:0;padding-bottom:56.25%"><iframe width="560" height="315" src="https://www.youtube.com/embed/SeI_RUzi7Ik" frameborder="0" allowfullscreen></iframe></div>
</div>
          
<p>2013. gadā Maskavā izdota grupas četru kompaktdisku antoloģiju. 
2014. gada Aprīlī iTunes platformā "SOYUZMUSIC" iznāca jaunais mini albums - "33".</p>
          


        <!--p> <a href="#" class="btn btn-default" role="button">Tālāk...</a></p>
      </div>
    </div>
  
</div-->
      
     
         <!--div class="row">
  
    <div class="thumbnail">
      <img src="/modules/core/client/img/content/sub_scriptum.jpg" alt="Grupa Sub Scriptum izdod singlu 'Sapņi pazūd tumsā tik baisā'">
      <div class="caption">
        <h3>Grupa Sub Scriptum izdod singlu ”Sapņi pazūd tumsā tik baisā”</h3>
        <p>Grupa „Sub Scriptum”, kas agrāk bija pazīstama kā „Melns uz Balta”, izdod singlu „Sapņi pazūd tumsā tik baisā”.</p>
          
          <div class="embed-responsive embed-responsive-16by9">
  <div style="position:relative;height:0;padding-bottom:56.25%"><iframe width="560" height="315" src="https://www.youtube.com/embed/4VqE7xaJXjE" frameborder="0" allowfullscreen></iframe></div>
</div>


<p>Dziesma ierakstīta „Hodila records” Valmierā.<br>
Videoversijas autors: Nauva Smith (Grand media).
</p>
          
<p>Grupas "Sub Scriptum" sastāvā ir četri puiši no Madonas, kuri ar mūziku saistīti jau no bērnības. Grupa ar labiem panākumiem pieteikuši sevi dažādos festivālos kā, piemēram, "Beerfest", "Osvalds", "Studentu paradīze".</p>

<p>Gadu gaitā grupai ir izveidojusies sadarbība ar Kasparu Tobi, Arni Račinski un Arni Slobožaņinu. Darbības laikā grupa iesildījusi tādus māksliniekus, kā "Dzelzs Vilks", "Jumprava", "Musiqq".</p>
          


        <!--p> <a href="#" class="btn btn-default" role="button">Tālāk...</a></p>
      </div>
    </div>
  
</div-->
   
      
      <!--div class="row">
  
    <div class="thumbnail">
      <img src="/modules/core/client/img/content/lejupielade.jpg" alt="Nova Koma - Zem cita režīma">
      <div class="caption">
        <h3>Grupa Nova Koma izdod EP "Zem cita režīma"</h3>
        <p>Garāžroka grupa Nova Koma izdod minialbumu "Zem cita režīma", kurā iekļautas piecas dziesmas. Atšķirībā no grupas pirmā albuma visi skaņdarbi ir latviešu valodā. 
Lai saglabātu koncertu enerģiju un spontanitāti, albums ierakstīts "Dirty Deal Teatro" telpās, visiem trijiem grupas dalībniekiem spēlējot kopā "dzīvajā".</p> 
Albuma ierakstīšanas procesa atskats:

          
          <div class="embed-responsive embed-responsive-16by9">
  <div style="position:relative;height:0;padding-bottom:56.25%"><iframe width="560" height="315" src="https://www.youtube.com/embed/RGAdb5lT5dA" frameborder="0" allowfullscreen></iframe></div>
</div>


<p>Ierakstu producēja un miksēja Kaspars Greizis un māsteringu veica Kārlis Šteinmanis no “KS records”. Dizains ir grupas dalībnieku veidots, logotipa izveidē piedalījās arī Didzis Upens. Šis ir viens no pirmajiem albumiem, ko izdod “Grautiņa ieraksti”.
Albuma prezentācijas koncerts norisinājās 17. augustā bārā “Nemiers”.</p>

Dzīvais izpildījums:

           <div class="embed-responsive embed-responsive-16by9">
  <div style="position:relative;height:0;padding-bottom:56.25%"><iframe width="560" height="315" src="https://www.youtube.com/embed/H3GNnGX2N4Y" frameborder="0" allowfullscreen></iframe></div>
</div>
          
<p>Grupa Nova Koma darbojas kopš 2015. gada un tajā spēlē Mārtiņš Vilnītis, Roberts Kočots un Jānis Kalvāns.</p>

<p>Albums pieejams digitālā formātā grupas Bandcamp profilā -
          
         
          <div class="col-xs-6 col-md-6">
    <a target="_blank" href="https://novakoma.bandcamp.com/" class="thumbnail">
      <img src="/modules/core/client/img/content/nova_koma.jpg" alt="Nova Koma Bandcamp">
    </a>
  </div> 
          </p>
          
          
<p>CD formātā to var iegādāties grupas koncertos vai sazinoties ar grupu. </p>


        <!--p> <a href="#" class="btn btn-default" role="button">Tālāk...</a></p>
      </div>
    </div>
  
</div-->
    
        
       <!--div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <img src="/modules/core/client/img/content/IMG_3138.JPG" alt="JĀNIS BUKUMS, Elza Rozentāle - Ledus Asara">
      <div class="caption">
        <h3>Grupa "Jānis Bukums" piedāvā jaunu singlu - duetu</h3>
        <p>Grupa «Jānis Bukums» publicē dziesmu «Ledus asara» no grupas topošā albuma. Jaunā dziesma tapusi duetā ar dziedātāju Elzu Rozentāli.</p>

<p>Jaunais, pēc kārtas trešais albums tiks izdots 2018. gadā un plānots kā savdabīgs konceptalbums, un līdz albuma iznākšanai plānoti dažādi pārsteigumi, notikumi un pasākumi! Tā pirmajā singlā «Ledus Asara» Jāņa Bukuma vīrišķīgā balss skan duetā ar dziedātāju Elzu Rozentāli, kura ar savu spēcīgo un daudzšķautņaino vokālu sniedz patīkamu kontrastu Jāņa Bukuma pamatīgumam un skarbumam.</p>

<blockquote>«Ar Elzu iedraudzējāmies jau «Cabaret La Luna» izrāžu laikā, kurās kopā strādājām un uzstājāmies. Elzai iekšā ir īsts «velna pulveris», un es vēlējos viņas milzīgo talantu realizēt arī rokmūzikā! Mums bija ļoti patīkami strādāt studijā kopā ar Elzu,» stāsta Jānis Bukums.</blockquote>

<p>Viņš turpina: «Mēs kā grupa esam pamatīgi sastrādājušies un joprojām esam nemainīgā sastāvā kopš paša grupas sākuma. Tas mūsdienās, kad sastāvi nepārtraukti mainās, mums ir milzīgs pluss. Joprojām ģitāras spīdzina Arturs Liede un Artūrs Račinskis, un ritma sekcijā darbojas bundzinieks Filips Batarags un basists Andrjus Jaņuns.»</p>
          
<p>Elza Rozentāle stāsta: «Man Bukums uzlika savu lielo, tēvišķo roku uz pleca un teica: «Tu i' ziķers. Tev vienīgajai iekšā ir īsts rokenrols. Mums jāieraksta dziesma kopā!» Es labprāt piekritu. Man patīk variēt ar balsi, un beidzot bija jāiedzied arī rokdziesma! Kā mēs ar Bukumu smējāmies - Bukums ir vienīgā Latvijā uzlecošā zvaigzne-pensionārs! Ar Bukumu un viņa grupu ir viegli strādāt, jo viņiem ir skaidra un autentiska dziesmas vīzija.»</p>
          
         
               <div class="embed-responsive embed-responsive-16by9">
  <div style="position:relative;height:0;padding-bottom:56.25%"><iframe width="560" height="315" src="https://www.youtube.com/embed/xPN9A1DqRI8" frameborder="0" allowfullscreen></iframe></div>
</div>
        


        <!--p> <a href="#" class="btn btn-default" role="button">Tālāk...</a></p>
      </div>
    </div>
  <!--/div-->
           
<!--div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Virsraksts</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac ullamcorper sem, nec finibus nibh. Praesent mollis erat sit amet leo vestibulum aliquam. Nunc sed blandit lorem, id egestas turpis.

</p>
        <p> <a href="#" class="btn btn-default" role="button">Tālāk...</a></p>
      </div>
    </div>
  </div>
           </div-->

           
                 <h3>JAUNĀKIE IERAKSTI</h3>
           
           
           <div class="row">
               
  <div class="col-xs-6 col-md-3">
    <a target="_blank" href="http://bloodyheels.bigcartel.com/product/bloody-heels-through-mystery-album-cd" class="thumbnail">
      <img src="https://images-na.ssl-images-amazon.com/images/I/510aft-RUyL._SS500.jpg" alt="...">
    </a>
  </div>
               
               <div class="col-xs-6 col-md-3">
    <a target="_blank" href="https://oghre.bandcamp.com/album/gana" class="thumbnail">
      <img src="https://f4.bcbits.com/img/a0343005651_10.jpg" alt="...">
    </a>
  </div>
               
               <div class="col-xs-6 col-md-3">
    <a target="_blank" href="https://novakoma.bandcamp.com/album/zem-cita-re-ma" class="thumbnail">
      <img src="https://f4.bcbits.com/img/a1024824722_10.jpg" alt="...">
    </a>
  </div>
               
               <div class="col-xs-6 col-md-3">
    <a target="_blank" href="https://rustedwheellv.bandcamp.com/" class="thumbnail">
      <img src="https://f4.bcbits.com/img/a1950174523_10.jpg" alt="...">
    </a>
  </div>
               
                 <div class="col-xs-6 col-md-3">
    <a target="_blank" href="https://play.google.com/store/music/album/J%C4%81nis_Bukums_Ugunslietus?id=B2iem2bmuz5ontvcwfi6yliexiq" class="thumbnail">
      <img src="/modules/core/client/img/content/ugunslietus.jpg" alt="...">
    </a>
  </div>
               
                 <div class="col-xs-6 col-md-3">
    <a target="_blank" href="https://indygo.bandcamp.com/album/stars" class="thumbnail">
      <img src="https://f4.bcbits.com/img/0006402341_10.jpg" alt="...">
    </a>
  </div>
               
                 <div class="col-xs-6 col-md-3">
    <a target="_blank" href="https://dzelzsvilks.bandcamp.com/" class="thumbnail">
      <img src="https://f4.bcbits.com/img/a0947587175_10.jpg" alt="...">
    </a>
  </div>
               
                 <div class="col-xs-6 col-md-3">
    <a target="_blank" href="https://onceupon.bandcamp.com/" class="thumbnail">
      <img src="https://f4.bcbits.com/img/a4119125839_10.jpg" alt="...">
    </a>
  </div>
  
</div>
           
© 2017, Jebkādu materiālu pilnīga vai daļēja izmantošana atļauta tikai ar LRMA Rock Magazine redakcijas atļauju.<br>
        </div>
  <div class="col-sm-3">
        
      <!--div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Kļūsti par LRMA biedru!</h3>
  </div>
  <div class="panel-body">
    <a target="_blank" href="https://society.rention.com/lv/auth/register/vu0pCH7jT6">REĢISTRĒTIES</a>
  </div>
</div-->
      
      
         
      
      
        
      
      
      
      
      
      
      <!--h3><a ui-sref="events.list">PASĀKUMI</a></h3>
  
    <a ng-repeat="event in vm.events | orderBy:'timestamp'" ui-sref="events.view({ eventId: event._id })"-->
        <!--div class="col-sm-4 col-md-4"-->
    <!--div class="panel panel-default">
        <div class="panel-heading"><h3 ng-bind="event.title"></h3></div>
        <div class="panel-body">
                  <img class="img-responsive" src="{{event.imgurl}}" alt="{{event.title}}">
            <small class="list-group-item-text">
        Kad:
        <span ng-bind="event.timestamp | date:'d.M.yyyy H:mm' "></span><br>
                Kur:
        <span ng-bind="event.location"></span><br>        
      </small>
                    <p ng-bind-html="event.description"></p>        
          </div>
            </div>
    </a-->
      

      
        </div>
        
</div>
    
  <div class="row">
    <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">MŪSU DRAUGI</h3>
  </div>
  <div class="panel-body">
    
      <div class="col-xs-2 col-md-2">
    <a target="_blank" href="http://moonshineriga.lv/" class="thumbnail">
      <img src="/modules/core/client/img/buddies/moon-shine-logo.png" alt="Moon Shine Riga">
    </a>
  </div>
      
      <div class="col-xs-2 col-md-2">
    <a target="_blank" href="https://www.facebook.com/thp.production/" class="thumbnail">
      <img src="/modules/core/client/img/buddies/new-thp-logo.png" alt="THP Production">
    </a>
  </div>
      
      <div class="col-xs-2 col-md-2">
    <a target="_blank" href="http://www.radioswh.lv/" class="thumbnail">
      <img src="/modules/core/client/img/buddies/swh_logo_gaiss_fons.png" alt="Radio SWH">
    </a>
  </div>
      
      <div class="col-xs-2 col-md-2">
    <a target="_blank" href="http://attrademusic.lv/" class="thumbnail">
      <img src="/modules/core/client/img/buddies/at_logo.png" alt="A&T Trade">
    </a>
  </div>
      
      <div class="col-xs-2 col-md-2">
    <a target="_blank" href="http://janisbukums.com/" class="thumbnail">
      <img src="/modules/core/client/img/buddies/jb.png" alt="JĀNIS BUKUMS">
    </a>
  </div>
      
      <div class="col-xs-2 col-md-2">
    <a target="_blank" href="https://www.facebook.com/Alus-Krogs-Bralis-614420451920088/" class="thumbnail">
      <img src="/modules/core/client/img/buddies/BralisKrogs.png" alt="Alus Krogs Brālis">
    </a>
  </div>
      
      <div class="col-xs-2 col-md-2">
    <a target="_blank" href="http://prof-designs.lv/en/" class="thumbnail">
      <img src="/modules/core/client/img/buddies/prof-mini-logo.png" alt="Prof.Designs">
    </a>
  </div>
      
  </div>
</div> 
    </div>  
    
    <div class="row">
    <p style="text-align: center;">Sazinies ar mums: rock@lrma.lv</p>
    </div>

</section>
