<section>
    <h1>Kontakti</h1>     
    
    <h2>Latvijas Rokmūzikas Asociācija</h2>
    
    <p>Latvijas Rokmūzikas Asociācija<br>
    Reģ. nr. 40008263608<br>
    Swedbank: LV15HABA0551043448084<br>
    Stopiņu 32a, Rīga, LV1035, Latvija<br>
    </p>
    
    <p>
        <a href="https://lrma.lv/modules/core/client/img/brand/lrma.png" download>Lejuplādēt LRMA logo (melns uz balta fona, png, 1000x1000 px). Spiediet uz saites ar peles labo pogu un izvēlieties <i>Save link as...</i></a>
    </p>
    <p>
        <a href="https://lrma.lv/modules/core/client/img/brand/lrma_rock_magazine.png" download>Lejuplādēt LRMA Rock Magazine logo (krāsains uz caurspīdīga fona, png, 1000x1000 px). Spiediet uz saites ar peles labo pogu un izvēlieties <i>Save link as...</i></a>
    </p>
    <p><b>Jautājumus, ierosinājumus, sadarbības piedāvājumus var iesniegt, izmantojot:</b></p>

    <p>Epasts: info@lrma.lv<br>
    Adrese: Stopiņu 32a, Rīga, LV-1035<br>
    Telefons: +37127421111</p>
    
        <h2 id="joinlrma">Kļūt par LRMA biedru</h2>
    
    <p>
    Reģistrēties par Latvijas Rokmūzikas Asociācijas biedru var, uz e-pastu info@lrma.lv atsūtot brīvā formā uzrakstītu iesniegumu, un iemaksājot biedra naudu vismaz vienam mēnesim (5 eiro), ar pārskaitījumu vai izmantojot Paypal:
    </p>

    <div class="row">
                <div class="col-sm-6 col-md-6">

    <h3>Ar bankas parskaitījumu:</h3>
    <p><b>Latvijas Rokmūzikas Asociācija</b><br>
Reģ. nr. 40008263608<br>
Swedbank: LV15HABA0551043448084<br>
Stopiņu 32a, Rīga, LV1035, Latvija<br>
    Maksājuma mērķis: Iestāšanās maksa biedrībā</p>
        </div>
    
                <div class="col-sm-6 col-md-6">
        <h3>Ar PAYPAL:</h3>
    
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="3DE6S4SKBH5HG">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
        
        </div>
    </div>

    
    <h2>LRMA ROCK Magazine</h2>
    
    <p>Epasts: rock@lrma.lv</p>
    
</section>
