<section>
  <div class="page-header">
      <h3><b><a ui-sref="events.list">&lt;PASĀKUMI</a></b></h3>
    <h1 ng-bind="vm.event.title"></h1>
  </div>
  <div class="pull-right" ng-show="vm.event.isCurrentUserOwner">
    <a class="btn btn-primary" ui-sref="events.edit({ eventId: vm.event._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.event.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.event.user" ng-bind="vm.event.user.displayName"></span>
      <span ng-if="!vm.event.user">Deleted User</span>
    </em>
  </small>
    <div class="row">
    <div class="col-sm-6 col-md-6">
    <img class="img-responsive" src={{vm.event.imgurl}} alt={{vm.event.title}}>
        </div>
        <div class="col-sm-6 col-md-6">
            <small class="list-group-item-text">
        Kad:
        <span ng-bind="vm.event.timestamp | date:'d.M.yyyy H:mm' "></span><br>
            Kur:
        <span ng-bind="vm.event.location"></span><br> 
      </small>
  <p class="lead" ng-bind-html="vm.event.description"></p>
    </div>
        </div>
          <h3><b><a ui-sref="events.list">&lt;PASĀKUMI</a></b></h3>
</section>
